.MM01 {
  width: 100%;
  height: 100vh;
  background-color: #7e92a6;
  /* background: linear-gradient(to top, #e4e5e6, #00416a); */
  background: linear-gradient(to bottom, #cdd4d9, #b4c2cb);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.MM01_1 {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MM01_2 {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MM01__text-1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.MM01__text-2 {
  font-size: 20px;
  font-weight: bold;
}

.mockUp1 {
  width: 330px;
  height: 637.28px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  left: 20;
  top: 30;
}
.mockUpImage {
  width: 272px;
  height: 590px;

  /* position: absolute; */
}
